{% extends 'base.html' %}
{% block content %}

<h1> About this project...</h1><br/>
This is a demo project aiming to showcase what I can achieve with my actual coding skills. I am using <b> Python </b> and <b> Django</b>. <br/>
The following steps have been followed:  <br/><br/>
- Creating a project within a virtual environment (<i> using Git bash </i>)<br/>
- Working on user-friendly webpage design (<i> using Bootstrap </i>)<br/>
- Interacting with an API to pull out financial data (<i> using IEX Cloud </i>)<br/>
- Designing tables (<i> using Bootstrap </i>)<br/>

{% endblock %}